<div class=" navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/LogoSinFondo.png"/>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cSupermercados" Match="NavLinkMatch.All">
                 Supermercados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cBares"> Bares
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cRestaurantes"> Restaurantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cFerreterias">
                Ferreterias
            </NavLink>
        </div>
    </nav>
</div>

