body {
}

h1{
    font-weight: 900;
}

.container div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta img {
    width: 500px;
    height: 500px;
}

.carta label {
    margin-top: 10px;
    font-size: 25px;
}

.carta {
    border: 1px double;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(4, 35, 103, 0.8);
    cursor: pointer;
}