@page "/cFerreterias"
@using MacoriStars.Dtos

@inject IEstablecimientosService _service;
@rendermode InteractiveServer

<div>
    <h3>FERRETERIAS</h3>
    <div class="container">
        @foreach (var item in cards)
        {
            <div class="carta">
                <label>@item.Nombre</label>
                <img src="@item.Imagen.ToString()" />
            </div>
        }

    </div>
</div>

@code {
    public List<Establecimientos> ferreterias { get; set; } = new();
    public List<CardDto> cards { get; set; } = new();
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ferreterias = await _service.GetList(x => x.IdCategoria == 4);
        foreach (var item in ferreterias)
        {
            cards.Add(new CardDto
                {
                    Id = item.IdEstablecimiento,
                    Nombre = item.Nombre,
                    Imagen = "data:image/jpeg;base64, " + Convert.ToBase64String(item.Imagen)
                });
        }
    }

}
