@layout Layout.Welcome
@page "/"
@using MacoriStars.Dtos

@inject NavigationManager navManager
@inject SesionDto sesion;

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="container-img">
        <img src="LogoSinFondo.png"/>
    </div>
    <div class="container-bienvenida">
        <div class="container-h1-descubre">
            <h1>DESCUBRE, CALIFICA Y COMPARTE</h1>
        </div>
        <div class="container-h1-joyas">
            <h1>LAS JOYAS OCULTAS DE</h1>
        </div>
    </div>
    <div class="name-pueblo">
        <h1>SAN FRANCISCO DE MACORIS</h1>
    </div>
    <div class="but-login">
        <input type="submit" @onclick="Login" value="INICIAR SESION" />
    </div>
    <div class="p-registrarse">
        <label>¿NO TIENES UNA CUENTA? </label>
        <strong @onclick="Registrarse"> REGISTRATE</strong>
    </div>
</div>

@code{
    protected override Task OnInitializedAsync()
    {
        sesion.SetUsuarioLog(0);
        return base.OnInitializedAsync();
    }

    private void Login()
    {
        navManager.NavigateTo("/login");
    }

    private void Registrarse()
    {
        navManager.NavigateTo("/registrarse");
    }
}