@layout Layout.Authentication
@page "/login"

<div class="container">
    <div class="container-img">
        <img src="LogoSinFondo.png" />
    </div>
    <div class="form-container">

        <div class="container-inputs">
            <form>

                <div class="nombreUsuario">
                    <label>Nombre de Usuario</label>
                    <input type="text" />
                </div>
                <div class="pass-cont">
                    <label>Contraseña</label>
                    <input type="password" />
                </div>
                <div class="btn-cont">
                    <input type="submit" value="INICIAR SESION" />
                </div>
            </form>
        </div>
        <div class="p-registrarse">
            <label>¿NO TIENES UNA CUENTA? </label>
            <strong> REGISTRATE</strong>
        </div>
    </div>
</div>

@code {

}
