@layout Layout.Authentication
@page "/registrarse"
@inject NavigationManager navManager
@rendermode InteractiveServer
<div class="container">
    <div class="container-img">
        <img src="LogoSinFondo.png" />
    </div>
    <div class="form-container">

        <div class="container-inputs">
            <form>
                <div class="nombreCompleto">
                    <label>Nombre Completo</label>
                    <input type="text" />
                </div>
                <div class="nombreUsuario">
                    <label>Nombre de Usuario</label>
                    <input type="text" />
                </div>
                <div class="pass-cont">
                    <label>Contraseña</label>
                    <input type="password" />
                </div>
                <div class="btn-cont">
                    <input type="submit" value="REGISTRARSE" />
                </div>
            </form>
        </div>
        <div class="p-registrarse">
            <label>¿TIENES UNA CUENTA? </label>
            <strong @onclick="Login"> INICIA SESION</strong>
        </div>
    </div>
</div>

@code {
    private void Login()
    {
        navManager.NavigateTo("/login");
    }
}
