* {
}

.accions {
    align-content: center;
    text-align: center;
    margin-left: 40px;
}

    .accions label {
        margin-top: 50px;
        font-size: 40px;
        margin-left: 50px;
    }

.col-8 label {
    font-size: 38px;
    font-weight: 800;
}

input[type="button"] {
    background-color: #567EA7;
    width: 324px;
    height: 48px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 20px;
    color: #0D397;
    font-weight: 800;
}

img {
    width: 700px;
    height: 580px;
}

.resena {
    background-color: #567EA7;
    border: solid;
    border-color: gray;
}

    .resena h5 {
        margin-bottom: 1rem;
        font-style: italic;
    }

    .resena label {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

@media screen and (max-width: 800px) {
    img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    img {
        width: 300px;
        height: 300px;
    }
}
